


/* Fonts */
@font-face {
  font-family: "PTSans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blu: #81B3D2;
  --basic-extra-gray: #766357;
  --basic-gray-lead: #F2F2F2;
  --basic-dark: #333333;
  --basic-gray-darken: #EEEEEE;
  --basic-blu-gray: #F2F2F2;
  --basic-gray: #666666;

  --link-color: #bright;
  --input-color: #color;
}

.page-body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-blu-gray);
  background-position: top center;
  background-repeat: no-repeat;
}
.page-body {
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;}

a {text-decoration: none;}

.wrapper {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  background-position: top center;
  box-shadow:  2px 0 2px 2px var(--basic-gray-lead);
}
.main-header-logo {
  justify-self: center;

}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  margin-bottom: 70px;

}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.reson-item1 h3 {
  color: var(--basic-white) ;
}
/* Main navigation */
.main-navigation {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 1200px;
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
}
.site-navigation a.link-current {
  color: var(--basic-extra-gray);
}


.site-navigation a:hover
{color: var(--basic-blu);}

.site-navigation a:focus
{color: var(--basic-black);}

.site-navigation a:active {
  color: var(--basic-gray-darken);
  opacity: 0.3;
}

.welcom {
  height: 509px;
  background-image: url("/img/group1.svg");
  background-repeat: no-repeat;
  position: relative; z-index: 10000;
}
.group1 {
  background-image: url("/img/backgroundphoto-min.jpg");
  position: absolute;
  top: 20px;
  margin-left: -140px;
  width: 456px;
}
.item2,
.item22 {
  padding: 0;
  margin: 0;

}
.item22 {
  grid-column: 1/3;
  grid-row: 1/1;
  grid-template-columns: 1fr 1fr;
}
.item2 {
  grid-column: 2/4;
}
.basic {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.reasons {
  margin: 0;
  padding: 0;
}
.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.infrastructure-list {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;}

.infrastructure-list h4{
  width: inherit;
  color: var(--basic-black);
  text-align: center;
}
.reasons-item h3 {
  color: var(--basic-black);
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.infrastructure-item {
  text-align: center;
  color: var(--basic-dark);
  vertical-align: top;
  margin: 0;
  width: 400px;
  height: 256px;
}

.infrastructure-itemh4 {
  font-size: 21px;
  line-height: 21px;
  background: url("/img/icon-1.svg") no-repeat 50% 50%;
}
h3.title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

}
h2.title-reason {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.reasons-item1,
.reasons-item11 {
  background-color: var(--basic-blu);
  color: var(--basic-white);
  width: 400px;
  height: 256px;
}


/*catalog*/

.form-catalog {
  background-image: url("/1756405-sedona-31/img/backgroundcatalog-min.jpg");
  color: var(--basic-white);
  background-repeat: no-repeat;
}
.form-catalog input{
  background: transparent;
  color: var(--basic-white);
}
.form-catalog button{
  background: transparent;
  color: var(--basic-white);
  height: 36px;
  width: 137px;
  border-radius: 2px;
}
.form-catalog legend {
  font-size: 14px;
  line-height: 21px;
}

.form-catalog ul {
  list-style: none;
  line-height: 16px;
}
.form-catalog-checkbox {
  height: 23px;
  width: 27px;
  left: 46px;
}

.form-catalog-input-checkbox:hover + label,
.form-catalog-input-checkbox:focus + label {
  color: var(--basic-white);
}
.housing-sort {
  list-style: none;
}

.reasons-item {
  background-color: var(--basic-gray-darken);
  height: 256px;
  width: 400px;
  display: inline-block;
  padding-top: 47px;
}
.main-footer {
  text-align: center;
  display: inline-flex;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.footer-social {
  margin-right: 22%;
}
.footer-contacts {
  margin-right: 32%;
  margin-left: 14px;
}
.footer-contacts h3 {
  display: none;
}

.catalog-search-result p {
  font-size: 12px;
  line-height: 18px;
}
.arrows-sorting {
  width: 11px;
  height: 10px;
}

.housing-sort button {
  color: var(--basic-white);
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button {
  background-color: var(--basic-extra-gray);
  border: none;
  height: 27px;
  width: 142px;
}
.housing-sort button {
  color: var(--basic-white);
  font-weight: 700;
}

.button-detailed {
  background-color: var(--basic-blu);
  height: 27px;
  width: 110px;
  border: none;
  font-weight: 700;
}

.search-hotels button {
  border: none;
  height: 86px;
  width: 568px;
  background-color: var(--basic-extra-gray);
  color: var(--basic-white);
  text-transform: uppercase;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-extra-gray);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
}
.stars-stars-3 {
  color: var(--basic-blu);
}
.housing-sort p.rating {
  height: 27px;
  width: 110px;
  background-color: var(--basic-blu-gray);
  color: var(--basic-gray);
}
